
.navbar
{
background-color:  #d3c5c5;
  text-align: center;
  height: 55px;
  width:auto;
}

.navbar img {
float: left;
padding: 1px 2px;
padding-right: 20pt;
  padding-left: 20pt;
}


ul.link
{
display: inline-block;
text-align: left;

}

.navbar a
{ float: center;
  color:  rgb(10, 10, 10);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
   font-weight:bold;
   font-size:20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   }


.navbar a:hover
 { background-color: #ddd;
   color: black;
   height:60pt;}

body {
    font-family:'Nunito',san-serif;
    background-color: #e4dede;
    height: 100vh;
    background-position: center;
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;

    
    
    }
.form {
    display: flex;
    justify-content: center;
    padding-top:3rem;
    border-radius: 2000px;
    text-align: center;
    height: auto;
    
    }
    
    .main-form{
    background-color: #f2f3f8;
    border-radius: 400pt;   
    display:flex;
    flex-direction: column;
    width: 50vh;
    height: 90vh;
    border-radius: 17px;
    box-shadow: rgba(50, 50, 93, 0, 25) 0px 13px 27px -5px
    rgbA(0, 0, 0, 3) 0px 8px 16px -8px;
    background-colour: white;
    text-align: center;
    padding-left: 30px;
    }
    
    h2 {
    margin: 1.5rem 0 2rem 0;
    text-align: center;
    }
    
    label{

    opacity: 0.75;
    text-align: left;
    padding-left: 40px;
    
    }
    
    input{
    display: flexbox;
    flex-direction: column;
    
    border-radius: 50px;
    
    border-style: none;
    outline: none;
    margin-top:8px;
    padding: 20px 40px;
    width: 250px;
    background-color: #EAEEED;
    }
    
    input:focus {
    opacity:0.7;
    }
    
    button{
    padding: 12px 48px;
    border-radius: 50px;
    color:white;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: px;
    background-color: #1A1B27;
    font-weight: 600;
    width: 70%;
    text-align: center;
    justify-content: center;
    }
    
    button:hover {
    opacity: 0.8;
    }
    
    .button-form {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    }
    
    .signup{
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #21D4FD;
    
    }
    
    .signup:hover {
    opacity: 0.8;
    }

    .signup{
        padding-left: 5px;
        text-decoration: none;
        cursor: pointer;
        color: #21D4FD;
        
        }
        
        .signup:hover {
        opacity: 0.8;
        }